<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light">
        <div class="container px-md-0">
          <a class="navbar-brand m-3"><span class="border">LOGO</span></a>
        </div>
      </nav>
    </header>
    
    <main>
      <p id='notice'></p>
        <%= yield %>
    </main>
    
    <footer>
      
    </footer>
  </body>
</html>
